[Unit]
Description=Cloud Commander
After=network.target

[Service]
ExecStart=/usr/bin/node /usr/lib/node_modules/cloudcmd/bin/cloudcmd.js --port=8000 --username=root --password=toor
Restart=on-failure

[Install]
WantedBy=multi-user.target
