[Unit]
Description=Wetty - Terminal in Browser
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/node /usr/lib/node_modules/wetty/app.js -p 4200 --host 0.0.0.0

[Install]
WantedBy=multi-user.target
